.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-style: 16px;
}

a {
  text-decoration: none;
}

a:active,
a:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}