.content {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 1rem;
}

.main-content,
.sidebar-content {
  border-top: 5px solid #822619;
  border-bottom: 5px solid #822619;
  border-radius: 10px;
  padding: 1rem 0;
  grid-gap: 1rem;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, max-content));
  grid-template-rows: repeat(auto-fill, minmax(350px, max-content));
  grid-gap: 0.5rem;
  align-items: flex-start;
  grid-column: 1 / 2;
  grid-row: 1 / 2
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2
}

.sidebar-content__author {
  grid-column: 1 / 2;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author__info {
  font-family: Lobster;
  text-transform: uppercase;
  margin: 1rem;
  text-align: center;
}

.author__photo {
  max-width: 200px;
}

.sidebar-content__social {
  justify-content: center;
  margin: 3rem 0;

}

@media (max-width: 1200px) {
  .content {
    padding: 1rem;
  }
}

@media (max-width: 840px) {

  .content,
  .sidebar-content {
    display: grid;
    grid-template-rows: 250px 1fr minmax(850px, auto)
  }

  .main-content {
    grid-row-start: 3;
    grid-column: 1 / span 2;
  }

  .sidebar-content {
    grid-row: 1 / span 3;
    grid-column: 1 / span 2;
  }

  .sidebar-content__bottom {
    grid-row: 3 / 4;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .author {
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 540px) {

  .content,
  .sidebar-content {
    display: grid;
  }
}